*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
img{ 
    max-width: 100%; 
} 

.card_main{
    position: relative;
}

.details{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    text-align: right;
}

.container{ 
     
    display: flex; 
    text-align: center; 
    justify-content: center; 
    align-items: center; 
    
}